body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logo-container {
    text-align: center;
    margin-top: 20px;
}

#pokemon-logo {
    width: 450px;
    height: auto;
}

#controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

input[type="text"],
button,
select {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

#search-button,
#reset-button,
#prev-page,
#next-page,
#random-button {
    cursor: pointer;
    background-color: #ffcb05;
    color: #000000;
}

#search-button:hover,
#reset-button:hover,
#prev-page:hover,
#next-page:hover,
#random-button:hover {
    background-color: #ffea99;
}

#search {
    width: 200px;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#current-page {
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.spinner {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #fbff2b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcb05;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}
